<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security
                        http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<global-method-security secured-annotations="enabled"
		pre-post-annotations="enabled">
	</global-method-security>

	<beans:bean id="loggerListener"
		class="org.springframework.security.authentication.event.LoggerListener" />

	<!-- <http pattern="/template/registrace.jsf" security="none"/> <http auto-config='true'> 
		<intercept-url pattern="/template/common/**" access="ROLE_USER" /> </http> -->

	<beans:bean id="flexiblaAuthenticationProvider" class="cz.sutak.game.server.service.AuthenticationService">
		<beans:property name="genericDAO" ref="genericDao" />
		<beans:property name="transactionTemplate" ref="transactionTemplate" />
	</beans:bean>

	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider
			ref="flexiblaAuthenticationProvider" />
	</security:authentication-manager>


</beans:beans>